@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;

}
header{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    background-color:blue;
    font-family: 'Hahmlet', serif;
    color: white;
    width: 100rem;
}
nav{
    display: flex;
}

nav ul{
    display: flex;
    justify-content: flex-start;

}
nav ul li{
   margin: 2rem;
   list-style: none;
   padding: 1rem;
}
nav ul li:hover{

  font-weight: bolder;
}
.search input{
    display: flex;
    width: 31rem;
    height: 1.5rem;
    align-items: center;
    border-radius: 45.5rem;
    margin: 3rem 7rem -2rem -2rem ;
    padding: 0em;


}

.lines{
    align-items: center;
    justify-content: center;
    margin: -6rem -10rem 3rem -9rem;
}
.line{
    align-items: center;
    justify-content: center;
    margin: 0px 9px 4px 7px;  
}

.slider{
    margin: auto;
    width: 99vw;
    margin: 12px auto auto ;
}
.container{
    text-align: center;
    min-height: calc(100vh - 80px - 12vh)
}
 h2{
    font-family: 'Hahmlet', serif;  
}
.card{
    display: flex;
    flex-direction: row;
    margin: 2px;
   
 
}

.card-item{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    margin: 19px 5px 7px 13px;
    padding: 0px;
}
img{
    margin: 0rem 1rem 6rem 0rem;
    display: flex;
}
footer{
    height: 5rem;
    background-color: blue;
    color: white;
    font-family: 'Hahmlet', serif;
    width: 100rem;
}
